body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #f8fafc 0%, #e0c3fc 50%, #8ec5fc 100%);
    background-image: url('https://images.pexels.com/photos/31503146/pexels-photo-31503146.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(159, 158, 158, 0.4); /* fog effect */
    backdrop-filter: blur(2px);
    z-index: 0;
}

.container, .weather-card {
    position: relative;
    z-index: 1;
}

.container {
    text-align: center;
}

.weather-card {
    background: rgba(255, 255, 255, 0.429); /* more transparent */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 450px;
    backdrop-filter: blur(10px); /* glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border */
}

.weather-card:hover {
    transform: scale(1.05);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city-input-btn:hover {
    background-color: #1565C0;
}

#weather-info {
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 42, 42);
}

#date {
    font-size: 14px;
    color: rgb(255, 42, 42);
}
